<div class="card mb-4 wow fadeIn">

    <div class="card-header">Already Registered Please Login</div>

    <!--Card content-->
    <div class="card-body">
      <label for="defaultFormEmailEx" class="grey-text">Email</label>
      <input type="email" ng-model="userLogin.email" class="form-control">

      <br>

      <!-- Default input password -->
      <label for="defaultFormNameEx" class="grey-text">Password</label>
      <input type="password" ng-model="userLogin.password" class="form-control">

      <div class="text-center mt-4">
        <button class="btn btn-info btn-md" ng-click="usersLogin()">Login</button>
      </div>
    </div>

</div>
