<div class="row">

  <div class="col-md-12 mb-4">
      <div class="card mb-4 wow fadeIn">
        <div class="card-body" style="width: 400px;">
          <label class="grey-text">Tag</label>
          <input type="text" ng-model="state.tag" class="form-control">

          <div class="text-center mt-4">
              <button class="btn btn-info btn-md" ng-click="fetchArticles()">Login</button>
          </div>
          <div class="">
            {{success_message}}
          </div>
        </div>
     </div>
  </div>

</div>
