<div class="js_articles_container"
  data-content=""
  ng-controller='ArticlesController' ng-cloak>
  <main class="mt-5 pt-5">
      <div class="container">

          <section class="mt-4">
            <%= render 'users/admin_home' %>
          </section>

      </div>
  </main>
</div>
